.search__title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
.search__input {
    padding: 8px;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 17px;  
    border: 1px solid $black;
}
.search__input:focus {
    outline: none !important;
    border:1px solid $green;
    box-shadow: 0 0 10px $green-soft;
}
.search__input-btn {
    background: $black;
    border-radius: 0.25rem;
    border: none;
    color: $white;
    cursor: pointer;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: bold;
    padding: 0.8rem;
}
.search__input-btn:hover {
    background-color: $green;
}
.search__box{
    margin-bottom: 5px;
}