.step {
  text-align: center;
}

.disabled {
  cursor: not-allowed;
  background-color: $gray-winter !important;
}

.btn {
  width: 100%;
  margin: 0.5rem 0;
  background: $gray-winter;
  border-radius: 0.25rem;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: bold;
  padding: 0.8rem;

  &:focus {
    outline: 0;
  }

  &__green {
    background: $green;
  }
  &__green:hover {
    background: $gray-hiper;
  }
}

.previous,
.next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  background: $black;
  color: $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $green;
  }
}
