$gray-dark: #666666;
$gray-hiper: #1D1D1B;
$gray-medium: #888888;
$gray-winter: #A0A0A0;
$gray-soft: #F5F5F5;
$gray-smooth: #D5D5D5;
$purple-dark: #b6116e;
$purple-medium: #c81a79;
$white: #fff;
$black: #000;
$green: #7FBC44;
$blue-soft: #5cb79f;
